<style>
    .image-gallery-projects {
        overflow: hidden;
        margin-left: -1% !important;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 120px;
    }

    .image-gallery-projects a {
        /*float: left;
        display: block;*/
        margin: 0 0 1% 1%;
        /*width: 45%;*/
        /*max-width: 205px;*/
        /*text-align: center;
        text-decoration: none!important;*/
        flex: 1 0 41%;
    }

    .image-gallery-projects a img {
        width: 100%;
        display: block;
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
    }

    .image-gallery-projects {
        width: 100% !important;
    }

    .image-gallery-projects img:hover {

        -webkit-filter: grayscale(100%) sepia(30%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%) sepia(30%);

    }

    @media screen and (max-width: 767px) {
        .image-gallery-projects {
            padding: 0;
        }
    }
</style>


<p class="image-gallery-projects">
    {% assign projects_by_order = site.projects | sort: "order" %}
    {% for project in projects_by_order %}
    {% assign filenameparts = project.path | split: "/" %}{% assign filename = filenameparts[1] %}
    <a href="{{ project.filename }}" title="{{ project.title }}"><img src="{{ filename | prepend: include.folder }}.jpg"
                                                                 alt="{{ filename }}" title="{{ project.title }}"/></a>
    {% endfor %}
</p>