<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
        <div id="mobile-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
      <!--<div class="trigger">
        Jon Rowe Pioneering Synthetic Realities
		<a href="{{ site.baseurl }}/" class="page-link {% if page.url == '/' %} m-current {% endif %}">home</a>
        {% for item in site.pages reversed %}
          {% if item.menuItem %}
            <a href="{{ item.url | prepend: site.baseurl }}" class="page-link {% if page.url == item.url %} m-current {% endif %}">{{ item.title }}</a>
          {% endif %}
        {% endfor %}
		<a href="{{ site.baseurl }}/about" class="page-link {% if page.url == '/about/' %} m-current {% endif %}">about</a>
      </div>-->
    </nav>

  </div>

</header>
