.m-current{
  color: #FF7F0E;
}
.main-feature {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  background: white;
  color: white;
  padding: 0px;
  transform: translateY(-50%);
  resize: vertical;
  overflow: auto;
  max-width: 980px;
  margin: 0 auto;
}

