<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <!--<header class="header-background">-->

        <!--<div id="mobile-menu" class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>-->



      <!--</header>-->
      {% include navbar.html %}

      <div class="main-feature">
        {% if page.slider %}
        {% include slider.html height="60" unit="%" transition="slide" duration="7" %}
        {% endif %}
      </div>

    </div>

    {% include footer.html %}



  </body>

</html>
