---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  <div class="post-content">
    {{ content }}
  </div>
<ul>
	{% if site.footer-links.twitter %}
	  <li>
	    <a href="https://twitter.com/{{ site.twitter_username }}">
	      <i class="fa fa-twitter"></i> Twitter
	    </a>
	  </li>
	{% endif %}
	{% if site.footer-links.github %}
	  <li>
	    <a href="https://github.com/{{ site.github_username }}">
	      <i class="fa fa-github"></i> GitHub
	    </a>
	  </li>
	{% endif %}
	{% if site.footer-links.linkedin %}
	  <li>
	    <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
	      <i class="fa fa-linkedin"></i> LinkedIn
	    </a>
	  </li>
	{% endif %}
	{% if site.footer-links.googleplus %}
	  <li>
	    <a href="https://plus.google.com/{{ site.google_plus_username }}">
	      <i class="fa fa-google-plus"></i> Google+
	    </a>
	  </li>
	{% endif %}
	{% if site.footer-links.facebook %}
	  <li>
	    <a href="https://www.facebook.com/{{ site.facebook_username }}">
	      <i class="fa fa-facebook"></i> Facebook
	    </a>
	  </li>
	{% endif %}
</ul>
</article>
